#Max {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;      
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    margin: 0 auto;

    h1 {
        margin-bottom: 20px;
    }

    label {
        margin-top: 10px;
        font-size: 1.2rem   ;
    }
    input[type="number"] {
        margin-top: 5px;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 100%;
        max-width: 100px;
        font-size: 1rem   ;

    }

    input[type="checkbox"] {
        margin: 10px 5px;
    }

    button {
        margin-top: 10px;
        padding: 10px 10px;
        background-color: #007BFF;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1em;
    }

    button:hover {
        background-color: #0056b3;
    }

    p {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 1.2rem;
    }

    #password {
        font-weight: bold;
        }
}   